<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="job">
            <h2><span>Job</span> {{ job.reference }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span ngbTooltip="description">Description</span></dt>
                <dd>
                    <span>{{ job.description }}</span>
                </dd>
                <dt><span>Date Created</span></dt>
                <dd>
                    <span>{{ job.dateCreated | date: 'dd/MM/yyyy'}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ job.price | currency:'GBP' }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/job', job.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
